.coffee-menu {
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.coffee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;

}

.coffee-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
}

.coffee-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.coffee-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.coffee-item p {
  font-size: 1rem;
  margin: 5px 0;
}

.price {
  color: #CC5500; /* Makes the price phrase orange */
}

.add-to-cart-btn {
  background-color: #CC5500; /* Orange color for the "Add to Cart" button */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.add-to-cart-btn:hover {
  background-color: #CC5500; /* Darker orange on hover */
}

.cart {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #ddd;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart button {
  background-color: #CC5500;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}