*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer-content{
    display: flex;
    gap: 8em;
    width:80em;

   
  background-color: rgb(13, 21, 52);
  color: white;
}

.copyrights{
   margin-top: 13em;
   padding-bottom: 10px;
   margin-left: -50em;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px; /* Spacing */

}


.company{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 14px;

}
.company h4{
 font-size: 20px;
}

.company p{
    padding-top: 15px;  
}

.company ul li{
   padding-top: 15px;
  

}



.company ul{
    list-style: none;
}

.footer-tittle{
    margin-top: 40px;

}

.footer-tittle h3{
    font-size: 20px;
}

.footer-tittle p{
    font-size: 10px;
    color: rgb(229, 221, 221);
}

.social-icon{
    font-size: 14px; /* Increases icon size */
    color: #fafbf9; /* Dark color for visibility */
    margin: 0 20px; 
    margin-top: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
    padding-top: 15px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-icon {
    font-size: 10px;
    color: rgb(255, 255, 255);
  }

  .contact-info h4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

  .Link-Footer{
    text-decoration: none;
    color: white;
  }
 