*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer-content{
    display: flex;
    gap: 10em;
    margin-top: 40px;
  background-color: rgb(10, 67, 10);
  color: white;
}

.copyrights{
   margin-top: 13em;
   padding-bottom: 10px;
   margin-left: -50em;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px; /* Spacing */

}


.company{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 14px;

}
.company h4{
 font-size: 20px;
}

.company ul li{
   padding-top: 15px;
  

}



.company ul{
    list-style: none;
}

.footer-tittle{
    margin-top: 40px;

}

.footer-tittle h3{
    font-size: 20px;
}

.footer-tittle p{
    font-size: 10px;
    color: rgb(229, 221, 221);
}

.social-icon{
    font-size: 14px; /* Increases icon size */
    color: #fafbf9; /* Dark color for visibility */
    margin: 0 20px; 
    margin-top: 20px;
}
