*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-content{
    position: relative; /* Needed for overlay positioning */
  height: 100vh; /* Makes it cover full height of the viewport */
  background-image: url("../assets/padlock.webp"); /* Path to your image */
  background-size: cover; /* Makes the background image cover the whole element */
  background-position: center; /* Center the image */
}

.overlay{
      position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 62, 34, 0.5); /* Dark overlay */
  z-index: 1;
}

.login-form{
    background-color: white;
    margin-top: 6em;
    margin-left: 20em;
    width: 40em;
     height: 26em;
     border-radius: 20px;
    box-shadow: 0 10px 17px 9px rgba(19, 62, 19, 0.5); 
}

.login-form h2{
padding-top:10px;
   margin-left: 8em;
   font-size: 29px;
   margin-bottom: 20px;
   color: rgb(10, 67, 10);
}

.login-form h4{
    margin-left: 13.3em;
    font-size: 20px;
    color: rgb(10, 67, 10);
 }

 .login-input{
    display: flex;
    flex-direction: column;
margin-top: 40px;
gap: 30px;
margin-left: 10em;
 }
  .login-input input{
  width: 25em;
  height: 50px;

  outline: none;
  border: 1px solid #bce7a1;

 

  }
  .login-input button{
    width: 25em;
    height: 50px;
    border-radius: 20px;
    outline: none;
    color: white;
 
    text-align: center;

  
    }
  
    .input-different button{
      background-color: rgb(10, 67, 10);
      width: 15em;
  height: 30px;
  margin-top: 40px;
  outline: none;
margin-left: 12em;
      color: white;
    }
  
    .input-different button:hover{
      color: white;
      background-color: rgb(17, 96, 17);
    }


  .input-different input{
    background-color: rgb(10, 67, 10);
    color: white;
  }



 
  .login-form p{
 margin-left: 10em;
 margin-top: 10px;

  }

  .loginin-link{
    text-decoration: none;
  }

 