*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.menu-container {
    padding: 20px;
    text-align: center;
    background-color: #FFF4E6;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .category {
    margin-bottom: 40px;
  }

  .category-menu{
    font-size: 1rem;
    color: #CC5500!important;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 2rem;
    color: #CC5500;
    margin-bottom: 15px;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .menu-item {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .menu-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .menu-details {
    margin-top: 10px;
  }
  
  .menu-details h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .menu-details p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #CC5500;
    margin-top: 10px;
  }
  