*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-content{
 

 background-color: rgb(255, 255, 255);
 height: 40px;

 

}
.nav-content h2{
    margin-left: 50px;
    color: #CC5500;
}


.nav-list ul{
    list-style: none;  
    display: flex;
    gap: 30px;
    margin-left: 55em;
    margin-top: -50px;
}

.nav-list ul li{
    padding: 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
  
}

.nav-list ul li:hover{
   
    color: rgb(254, 71, 4);
  
}

.Links{
    text-decoration: none;
}


.restaurant-icon {
    font-size: 28px; /* Adjust icon size */
    color:#CC5500 ; /* Orange color (matches food theme) */
    margin-right: 8px; /* Space between icon and text */
    vertical-align: middle; /* Aligns properly with text */
}
