*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-content{
 

 background-color: rgb(235, 236, 235);
 height: 40px;

 

}
.nav-content h2{
    margin-left: 50px;
    color: rgb(254, 71, 4);
}


.nav-list ul{
    list-style: none;  
    display: flex;
    gap: 30px;
    margin-left: 59em;
    margin-top: -44px;
}

.nav-list ul li{
    padding: 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
  
}

.nav-list ul li:hover{
   
    color: rgb(254, 71, 4);
  
}


.nav-input input{
    width: 15em;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(10, 67, 10);
     border: 1px solid rgb(248, 244, 244); /* Adds a blue border */
    outline: none;
    color: white;
    margin-top: 30px;
    margin-left: 70px;
}

.nav-input input::placeholder {
    color: rgb(255, 255, 255); /* Changes the placeholder color */
    opacity: 0.3;
  }
.Links{
    text-decoration: none;
}

