*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Register-content{
    position: relative; /* Needed for overlay positioning */
  height: 150vh; /* Makes it cover full height of the viewport */
  background-image: url("../assets/register.webp"); /* Path to your image */
  background-size: cover; /* Makes the background image cover the whole element */
  background-position: center; /* Center the image */
}

.overlay{
      position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.2); /* Dark overlay */
  z-index: 1;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.7); /* 70% opaque white for a see-through effect */
  margin-top: 6em;
  margin-left: 20em;
  width: 40em;
  height: 26em;
  border-radius: 20px;
  box-shadow: 0 10px 17px 9px rgba(255, 165, 0, 0.2);
}

.register-form h2{
padding-top:10px;
   margin-left: 8em;
   font-size: 29px;
   margin-bottom: 20px;
   color:  #FFA500;
}

.register-form h4{
    margin-left: 13.3em;
    font-size: 20px;
    color:  #FFA500;
 }

 .login-input{
    display: flex;
    flex-direction: column;
margin-top: 40px;
gap: 30px;
margin-left: 10em;
 }
  .login-input button{
  width: 25em;
  height: 50px;
  border-radius: 20px;
  outline: none;
  color: white;
  border: 1px solid #FFDAB9;
  text-align: center;
  background-color: #FFDAB9;

  }

  .input-different button{
    background-color: #FFA500;
    color: white;
  }


 
  .register-form p{
 margin-left: 9.9em;
 margin-top: 10px;

  }

  .register-link{
    text-decoration: none;
  }
